<!DOCTYPE html>
<html>
  <head>
    {% seo %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/index.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} - {{ site.description }}"
      href="/feed.xml"
    />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap.xml"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/images/wolf.png"
    />
  </head>

  <body>
    <header>
      <div class="row">
        <a href="/wolf"><img src="/images/wolf.png" /></a>
        <div class="title-container">
        {% if page.draft %}
          <a href="/drafts">
        {% else %}
          <a href="/">
        {% endif %}
            <span class="wolf">wolf</span>
            <span class="words">WORDS</span>
          </a>
          <div class="description">
            {{ site.description }}
          </div>
        </div>
      </div>
    </header>
    {% include subscribe.html %}

    <main>
      {{ content }}
    </main>

    <footer class="footer">
      {% include svg-icons.html %}
    </footer>

    {% include analytics.html %}
  </body>
</html>
